*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

h1{
    margin: 50px 0px;
}

.ski-container{
    margin: 0 auto;
    display: block;
    position: relative;
    border: 1px solid black;
    border-radius: 5em;
    max-width: 80%;
}

#ski-track{
    display: flex;
    border-left: 4px #e10019 solid;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
}

.athlete-icon{
    position: absolute;
    display: block;
    bottom: 0;
    margin: 10px;
    width: 22px;
    height: 22px;
    background-image: url(al.svg);
    background-repeat: no-repeat;
    left: 0;
    transition: left 2s ease-in;
}

.info-block-left{
    width: 100px;
    height: 35px;
    position: absolute;
    border: 1px solid black;
    border-radius: .2em;
    bottom: -50px;
    right: -85px;
    transition: right 2s ease-in, visibility 1s linear;
    display: none
}

.info-block-left:before{
    content: '';
    top: -13px;
    left: 10px;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid black;
}

.info-block-right{
    width: 100px;
    height: 35px;
    position: absolute;
    border: 1px solid black;
    border-radius: .2em;
    bottom: -50px;
    right: -10px;
    transition: right 2s ease-in, visibility 1s linear;
    display: none
}

.info-block-right:before{
    content: '';
    top: -13px;
    right: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 12px solid black;
}

.current{
    display: block;
}

.track-part{
    position: relative;
    border-right: 1px black dotted;
    height: 50px;
    flex-grow: 1;
}

.track-part:last-child{
    border: none;
    border-image: url(bw1x1.png) 30 round;
}

.check-point{
    position: absolute;
    top: -19px;
    right: -15px;
    display: block;
    width: 22px;
    background-image: url(flag.svg);
    background-repeat: no-repeat;
}

.finish{
    background: url(bw-min.png);
    width: 23px;
}

.check-point span{
    left: -20px;
    position: relative;
}

@media (max-width: 768px){
    .ski-container, .container {
        max-width: 100%;
    }

    .track-part{
        height: 30px;
    }

    .finish{
        background: url(bw-10.png);
        width: 10px;
    }
}
